@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&family=Space+Mono&display=swap');
body {
    margin:0;
    padding:none;
    font-family: 'Space Mono', monospace;
  }
  
.video {
    position:relative;
    z-index:0;
}
     
.topnav {
  background-color: #333;
  display: flex;
  justify-content: space-around;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: darkblue;
  color: white;
}

h1 {
  font-family: 'MuseoModerno', curive;
}


.landing > .heading1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
